@use '@/styles/variable' as *;

.tag-container {
  display: inline-flex;
  align-items: center;

  box-sizing: border-box;
  padding: 4px 8px;

  font-size: 0.925rem;

  transition: all .25s ease;

  &-icon {
    margin-right: 6px;
  }

  &-text {
    text-align: center;
  }

  &-hover:hover {
    filter: brightness(0.8) contrast(120%);
  }
}

.tag-shape {
  &-rect {
    border-radius: $radius-s;
  }

  &-round {
    border-radius: 12px;
  }
}

.tag-size {
  &-small {
    height: $height-sm;
  }

  &-middle {
    height: $height-base;
  }

  &-large {
    height: $height-lg;
  }
}

.tag-color {
  &-default {
    color: var(--color-text);
    background-color: var(--content-background-color);
    border: 1px solid var(--color-border);
  }

  &-primary {
    color: $blue-darken-3;
    background-color: $blue-lighten-5;
    border: 1px solid $blue-darken-1;
  }

  &-success {
    color: $green-darken-3;
    background-color: $green-lighten-5;
    border: 1px solid $green-darken-1;
  }

  &-danger {
    color: $red-darken-3;
    background-color: $red-lighten-5;
    border: 1px solid $red-darken-1;
  }

  &-warning {
    color: $orange-darken-3;
    background-color: $orange-lighten-5;
    border: 1px solid $orange-darken-1;
  }
}

.tag-no-border {
  border: none;
}
