@use '../../styles/variable' as *
.login-page
  height: 100%
  display: flex

  .login-panel
    flex: 3
    border-right: 1px solid red
    overflow: hidden

    .logo
      height: 40%
      display: flex
      align-items: center
      justify-content: center
      font-size: $text-h2
      border-bottom: 1px solid red
      box-sizing: border-box

    .login-form
      height: 60%
      padding: 10%
      box-sizing: border-box

  .illustrate
    flex: 5
