@use '../../styles/variable' as *

.input-box
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  border: 1px solid $grey-lighten-1
  border-radius: var(--radius-s)
  padding: .5rem 0.75rem
  transition: all .35s ease
  box-sizing: border-box
  box-shadow: none

  &:hover
    border-color: $blue

  &-focus
    border-color: $blue
    box-shadow: 0 0 3px $blue

  &-base
    height: $input-height-base
    font-size: $font-size-base

  &-sm
    height: $input-height-sm
    font-size: $font-size-sm

  &-lg
    height: $input-height-lg
    font-size: $font-size-lg

  .input
    width: 100%
    display: inline-block
    box-sizing: border-box
    color: var(--color)
    background: transparent
    border: none
    outline: none
    appearance: none
    font-size: var(--font-size)
    text-align: var(--text-align)

    &::placeholder
      color: var(--color-weak)

    &:focus
      &::placeholder
        color: var(--color-light)
        font-family: inherit


  @mixin icon
    color: var(--color-light)
    font-size: var(--font-size-8)

  .prefix
    @include icon
    margin-right: 0.5rem

  .append
    @include icon
    margin-left: 0.25rem


  .clearable
    @include icon
    cursor: pointer
    margin-left: 0.25rem

    &-append
      margin-right: 2rem


