@use '../../styles/variable' as *

.input-box
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  border: 1px solid var(--color-border)
  border-radius: $radius-s
  padding: .5rem 0.75rem
  transition: all .35s ease
  box-sizing: border-box
  box-shadow: none

  &-error
    border-color: $red !important
    box-shadow: 0 0 3px $red !important

  &:hover
    border-color: $blue

  &-focus
    border-color: $blue
    box-shadow: 0 0 3px $blue

  &-base
    height: $input-height-base
    font-size: $font-size-base

  &-sm
    height: $input-height-sm
    font-size: $font-size-sm

  &-lg
    height: $input-height-lg
    font-size: $font-size-lg

  @media (min-width: 1920px)
    &-base
      height: $input-height-lg
      font-size: $font-size-lg

    &-sm
      height: $input-height-base
      font-size: $font-size-base

    &-lg
      height: $input-height-lg
      font-size: $font-size-lg

  .input
    width: 100%
    display: inline-block
    box-sizing: border-box
    background: transparent
    border: none
    outline: none
    appearance: none
    font-size: $font-size-base

    &::placeholder
      color: $grey

    &:focus
      &::placeholder
        color: $grey-lighten-1


  @mixin icon
    color: $grey-lighten-1
    font-size: $font-size-lg

  .prefix
    @include icon
    margin-right: 0.5rem

  .append
    @include icon
    margin-left: 0.25rem


  .clearable
    @include icon
    cursor: pointer
    margin-left: 0.25rem

    &-append
      margin-right: 0.5rem

.input-warning
  height: 1.25rem
  line-height: 1.25rem
  font-size: $font-size-sm
  color: $red
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis

  &-none
    display: none

  &-warning
    display: inline


