@use '@/styles/variable' as *;
@use '@/styles/mixin.scss' as *;
@use '@/styles/breakpoint' as *;

.page {
  display: flex;
  box-sizing: border-box;
  height: 100%;
  padding: 12px;
}

.layer-left {
  display: flex;
  flex: 8;
  flex-direction: column;
  height: 100%;

  .greet {
    flex: none;
  }

  .column-container {
    display: flex;
    flex: 1;
    gap: 6px;

    box-sizing: border-box;
    height: 100%;
  }
}

.column-left {
  @include no-scrollbar;

  overflow: auto;
  display: flex;
  flex: 30%;
  flex-direction: column;
  gap: 12px;

  box-sizing: border-box;
  height: 0;
  min-height: 100%;
  padding: 2px;
}

.column-right {
  overflow: auto;
  display: flex;
  flex: 70%;
  flex-direction: column;
  gap: 12px;

  box-sizing: border-box;
  height: 0;
  min-height: 100%;
  padding: 2px;
}

.filter-container {
  flex: none;

  .filter-sheet {
    display: flex;
    gap: 12px;
    width: 100%;
    padding: 6px 0 0;
  }

  .tool-bar {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 0 3px 6px;

    .date {
      color: $grey-darken-1;
    }

    .tool-buttons {
      display: flex;
      gap: 6px;

      .income {
        color: $red;
      }

      .outcome {
        color: $green;
      }

      .balance {
        color: $blue;
      }
    }
  }
}

.record-container {
  flex: 1;
  padding: 0;

  .record-sheet {
    height: 100%;
  }

  .year-selector {
    flex: 1;
  }

  .record-list {
    flex: 3;
    @include no-scrollbar;
    @include flex-column-auto-height;
  }

  .record-year {

    &-button {

      padding: 6px 12px;

      &:active {
        background: $green-lighten-1;
      }

      @media(hover: hover) and (pointer: fine) {
        &:hover {
          background: $green-lighten-1;
        }
      }
    }
  }

}


.layer-right {
  flex: 2;
  margin: 24px 18px 0 6px;
  padding: 12px 2px 0;
}
