@use '@/styles/variable' as *;
@use '@/styles/mixin.scss' as *;
@use '@/styles/breakpoint' as *;

.page {
  display: flex;
  box-sizing: border-box;
  height: 100%;
  padding: 12px;
}

.layer-left {
  display: flex;
  flex: 8;
  flex-direction: column;
  height: 100%;

  .greet {
    flex: none;
  }

  .column-container {
    display: flex;
    flex: 1;
    gap: 8px;

    box-sizing: border-box;
    height: 100%;
  }
}

.statistic-card {
  border-radius: 12px;
}

.column-left {
  @include no-scrollbar;

  overflow: auto;
  display: flex;
  flex: 30%;
  flex-direction: column;
  gap: 12px;

  box-sizing: border-box;
  height: 0;
  min-height: 100%;
  padding: 2px;
}

.column-right {
  overflow: auto;
  display: flex;
  flex: 70%;
  flex-direction: column;
  gap: 12px;

  box-sizing: border-box;
  height: 0;
  min-height: 100%;
  padding: 2px;
}

.filter-container {
  flex: none;
  border-radius: 16px;

  .filter-sheet {
    display: flex;
    gap: 12px;
    width: 100%;
    padding: 6px 0 0;
  }

  .tool-bar {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 0 3px 6px;

    .date {
      color: $grey-darken-1;
    }

    .tool-buttons {
      display: flex;
      gap: 6px;

      .income {
        color: $red;
      }

      .outcome {
        color: $green;
      }

      .balance {
        color: $blue;
      }
    }
  }
}

.record-container {
  flex: 1;
  padding: 0;

  .record-sheet {
    height: 100%;
  }

  .year-selector {
    flex: 1;
  }

  .record-list {
    @include no-scrollbar;
    @include flex-column-auto-height;

    flex: 4;
  }

  .record-button {
    display: grid;
    grid-row: auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    align-items: center;

    margin: 4px;
    padding: 12px;

    &-date {
      grid-row: 1 / 3;
      text-indent: 1rem;

      // direction: rtl;
      // text-indent: 2rem;
    }

    &-month {
      margin-right: 4px;
      font-size: 1.5rem;
      font-weight: 600;
    }

    &-text {
      font-size: 0.82rem;
      font-weight: 300;

      &-green {
        color: $green;
      }

      &-red {
        color: $red;
      }
    }

    &:active {
      background: $grey-lighten-4;
      border-radius: 12px;
    }

    @media(hover: hover) and (pointer: fine) {
      &:hover {
        background: $grey-lighten-4;
        border-radius: 12px;
      }
    }
  }

}


.table {
  overflow: auto;
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;

  &-header-cell {
    margin: 2px 6px;
    padding: 6px 12px;

    font-weight: normal;

    background-color: var(--color-header);
    border-radius: 12px;
  }

  &-row {
    // border-top: 1px solid var(--color-border);
    // border-bottom: 1px solid var(--color-border);
  }

  &-title-row {
    border-bottom: 1px solid var(--color-border);

    &-date {
      padding: 4px 12px;
      font-size: 0.9rem;
      color: $grey-lighten-1;

      span {
        margin: 0 4px;
      }
    }

    &-day {
      font-size: 1.25rem;
      font-weight: 600;
      color: var(--color-text);
    }

    &-expense {
      padding: 12px;
      font-size: 0.9rem;
      text-align: center;
    }
  }

  &-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}


.layer-right {
  flex: 2;
  margin: 24px 18px 0 8px;
  padding: 12px 2px 0;
}
