@use '../../styles/variable' as *

.button
  position: relative
  white-space: nowrap
  text-align: center
  border: none
  cursor: pointer
  transition: all 0.3s $ease-in-out
  touch-action: manipulation
  background: transparent
  padding: 0
  margin: 0

  &,
  &:active,
  &:focus
    outline: 0

  &:not([disabled]):hover
    text-decoration: none

  &:not([disabled]):active
    outline: 0
    box-shadow: none

  &[disabled]
    cursor: not-allowed
    color: $grey-darken-1

    > *
      pointer-events: none

  &-type-default
    display: inline-block
    border: 1px solid var(--color-border)
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015)
    padding: 0 1.5rem


  &-type-text
    height: 1rem
    box-sizing: border-box

  &-type-block
    width: 100%

  &-size-default, &-size-middle
    height: $height-base
    font-size: $font-size-base

  &-size-small
    height: $height-sm
    font-size: $font-size-sm

  &-size-large
    height: $height-lg
    font-size: $font-size-lg

  &-size-mini
    height: $height-xs
    font-size: $font-size-sm

  &-shape-default
    border-radius: $radius-s

  &-shape-rounded
    border-radius: calc($height-base / 2)

  &-shape-rectangle
    border-radius: 0

  &-color-default
    background: transparent
    color: var(--color-text)

    &:not([disabled]):hover
      border: 1px solid $blue-lighten-2
      color: $blue-lighten-2

  &-color-primary
    background: $blue
    color: var(--color-white)

    &:not([disabled]):hover
      background: $blue-lighten-1

  &-color-success
    background: $green
    color: var(--color-white)

    &:not([disabled]):hover
      background: $green-lighten-1

  &-color-warning
    background: $orange
    color: var(--color-white)

    &:not([disabled]):hover
      background: $orange-lighten-1

  &-color-danger
    background: $red
    color: var(--color-white)

    &:not([disabled]):hover
      background: $red-lighten-1

  &-color-text-default
    color: var(--color-text)

    &:not([disabled]):hover
      color: $blue-lighten-2

  &-color-text-primary
    color: $blue-lighten-1

    &:not([disabled]):hover
      color: $blue-lighten-2

  &-color-text-success
    color: $green-lighten-1

    &:not([disabled]):hover
      color: $green-lighten-1

  &-color-text-warning
    color: $orange-lighten-1

    &:not([disabled]):hover
      color: $orange-lighten-2

  &-color-text-danger
    color: $red-lighten-1

    &:not([disabled]):hover
      color: $red-lighten-2


