.bar-form-container {
  scrollbar-width: none;

  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 6px;

  margin-top: 6px;

  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.bar-form-row {
  display: flex;
  gap: 12px;
  align-items: center;

  &-tag {
    flex: none;
  }

  &-progress {
    flex: auto;
  }
}
