@use '@/styles/mixin.scss' as *;

.record-statistic-container {
  @include no-scrollbar;

  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 6px;

  width: 100%;
  margin-top: 6px;
}

.record-statistic-row {
  display: flex;
  gap: 12px;
  align-items: center;

  &-tag {
    flex: none;
  }

  &-progress {
    flex: auto;
  }
}
