.divide-line {
  position: relative;

  width: 100%;
  margin: 8px 0;

  border: none;
  border-top: 1px solid var(--color-border);

  &-text {
    position: absolute;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);

    font-size: 12px;
    color: var(--color-text);

    background-color: var(--content-background-color);
  }
}
