$x-small-screen: 600;
$small-screen: 960;
$middle-screen: 1280;
$normal-screen: 1600;
$large-screen: 1920;
$x-large-screen: 2560;
$x-small-screen-min: $x-small-screen;
$small-screen-min: $small-screen;
$middle-screen-min: $middle-screen;
$normal-screen-min: $normal-screen;
$large-screen-min: $large-screen;
$x-large-screen-min: $x-large-screen;

// 959.98
$x-small-screen-max: $small-screen-min - .02;

// 1198.98
$small-screen-max: $middle-screen-min - .02;

// 1439.98
$middle-screen-max: $normal-screen-min - .02;

// 1919.98
$normal-screen-max: $large-screen-min - .02;

// 2559.98
$large-screen-max: $x-large-screen-min - .02;
$x-small-screen-container: $x-small-screen;
$small-screen-container: $small-screen;
$middle-screen-container: $middle-screen;
$normal-screen-container: $normal-screen;
$large-screen-container: $large-screen;
$x-large-screen-container: $x-large-screen;

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 16px;
}

.d-none {
  display: none !important;
}

@media (orientation: portrait) {
  .hidden-on-portrait {
    display: none !important;
  }
}

@media (min-width: #{ $x-small-screen-min }px) {
  .d-sm-none {
    display: none !important;
  }

  .container {
    max-width: 90%;
  }
}

@media (min-width: #{ $small-screen-min }px) {
  .d-md-none {
    display: none !important;
  }

  .container {
    max-width: #{ $small-screen-container }px;
  }
}

@media (min-width: #{ $middle-screen-min }px) {
  .d-lg-none {
    display: none !important;
  }

  .container {
    max-width: #{ $middle-screen-container }px;
  }
}

@media (min-width: #{ $normal-screen-min }px) {
  .container {
    max-width: #{ $normal-screen-container }px;
  }
}

@media (min-width: #{ $large-screen-min }px) {
  .d-xl-none {
    display: none !important;
  }

  .container {
    max-width: #{ $large-screen-container }px;
  }
}

@media (min-width: #{ $x-large-screen-min }px) {
  .d-xxl-none {
    display: none !important;
  }

  .container {
    max-width: #{ $x-large-screen-container }px;
  }
}

@media (max-width: #{ $x-small-screen-min }px) {
  .hidden-xs {
    display: none !important;
  }
}

@media (min-width: #{ $x-small-screen-min }px) and (max-width: #{ $x-small-screen-max }px) {
  .hidden-sm {
    display: none !important;
  }
}

@media (min-width: #{ $small-screen-min }px) and (max-width: #{ $small-screen-max }px) {
  .hidden-md {
    display: none !important;
  }
}

@media (min-width: #{ $middle-screen-min }px) and (max-width: #{ $middle-screen-max }px) {
  .hidden-lg {
    display: none !important;
  }
}

@media (min-width: #{ $large-screen-min }px) and (max-width: #{ $large-screen-max }px) {
  .hidden-xl {
    display: none !important;
  }
}

@media (min-width: #{ $x-large-screen-min }px) {
  .hidden-xxl {
    display: none !important;
  }
}

@media (max-width: #{ $x-small-screen-min }px) and (orientation: portrait) {
  .hidden-xs-and-portrait {
    display: none !important;
  }
}

@media (min-width: #{ $x-small-screen-min }px) and (max-width: #{ $x-small-screen-max }px) and (orientation: portrait) {
  .hidden-sm-and-portrait {
    display: none !important;
  }
}

@media (min-width: #{ $small-screen-min }px) and (max-width: #{ $small-screen-max }px) and (orientation: portrait) {
  .hidden-md-and-portrait {
    display: none !important;
  }
}

@media (min-width: #{ $middle-screen-min }px) and (max-width: #{ $middle-screen-max }px) and (orientation: portrait) {
  .hidden-lg-and-portrait {
    display: none !important;
  }
}

@media (min-width: #{ $large-screen-min }px) and (max-width: #{ $large-screen-max }px) and (orientation: portrait) {
  .hidden-xl-and-portrait {
    display: none !important;
  }
}

@media (min-width: #{ $x-large-screen-min }px) {
  .hidden-xxl-and-portrait {
    display: none !important;
  }
}


@media (min-width: #{ $x-small-screen-min }px) {
  .hidden-sm-and-up {
    display: none !important;
  }
}

@media (min-width: #{ $small-screen-min }px) {
  .hidden-md-and-up {
    display: none !important;
  }
}

@media (min-width: #{ $middle-screen-min }px) {
  .hidden-lg-and-up {
    display: none !important;
  }
}

@media (min-width: #{ $large-screen-min }px) {
  .hidden-xl-and-up {
    display: none !important;
  }
}

@media (max-width: #{ $x-small-screen-max }px) {
  .hidden-sm-and-down {
    display: none !important;
  }
}

@media (max-width: #{ $small-screen-max }px) {
  .hidden-md-and-down {
    display: none !important;
  }
}

@media (max-width: #{ $middle-screen-max }px) {
  .hidden-lg-and-down {
    display: none !important;
  }
}

@media (max-width: #{ $large-screen-max }px) {
  .hidden-xl-and-down {
    display: none !important;
  }
}

.col,
.col-auto,
.col-12,
.col-11,
.col-10,
.col-9,
.col-8,
.col-7,
.col-6,
.col-5,
.col-4,
.col-3,
.col-2,
.col-1 {
  width: 100%;
  padding: 12px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col-1 {
  flex: 0 0 4.1667%;
  max-width: 4.1667%;
}

.col-2 {
  flex: 0 0 8.3333%;
  max-width: 8.3333%;
}

.col-3 {
  flex: 0 0 12.5%;
  max-width: 12.5%;
}

.col-4 {
  flex: 0 0 16.6667%;
  max-width: 16.6667%;
}

.col-5 {
  flex: 0 0 20.8333%;
  max-width: 20.8333%;
}

.col-6 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-7 {
  flex: 0 0 29.1667%;
  max-width: 29.1667%;
}

.col-8 {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}

.col-9 {
  flex: 0 0 37.5%;
  max-width: 37.5%;
}

.col-10 {
  flex: 0 0 41.6667%;
  max-width: 41.6667%;
}

.col-11 {
  flex: 0 0 45.8333%;
  max-width: 45.8333%;
}

.col-12 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-13 {
  flex: 0 0 54.1667%;
  max-width: 54.1667%;
}

.col-14 {
  flex: 0 0 58.3333%;
  max-width: 58.3333%;
}

.col-15 {
  flex: 0 0 62.5%;
  max-width: 62.5%;
}

.col-16 {
  flex: 0 0 66.6667%;
  max-width: 66.6667%;
}

.col-17 {
  flex: 0 0 70.8333%;
  max-width: 70.8333%;
}

.col-18 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-19 {
  flex: 0 0 79.1667%;
  max-width: 79.1667%;
}

.col-20 {
  flex: 0 0 83.3333%;
  max-width: 83.3333%;
}

.col-21 {
  flex: 0 0 87.5%;
  max-width: 87.5%;
}

.col-22 {
  flex: 0 0 91.6667%;
  max-width: 91.6667%;
}

.col-23 {
  flex: 0 0 95.8333%;
  max-width: 95.8333%;
}

.col-24 {
  flex: 0 0 100%;
  max-width: 100%;
}

.offset-1 {
  margin-left: 4.1667%;
}

.offset-2 {
  margin-left: 8.3333%;
}

.offset-3 {
  margin-left: 12.5%;
}

.offset-4 {
  margin-left: 16.6667%;
}

.offset-5 {
  margin-left: 20.8333%;
}

.offset-6 {
  margin-left: 25%;
}

.offset-7 {
  margin-left: 29.1667%;
}

.offset-8 {
  margin-left: 33.3333%;
}

.offset-9 {
  margin-left: 37.5%;
}

.offset-10 {
  margin-left: 41.6667%;
}

.offset-11 {
  margin-left: 45.8333%;
}

.offset-12 {
  margin-left: 50%;
}

.offset-13 {
  margin-left: 54.1667%;
}

.offset-14 {
  margin-left: 58.3333%;
}

.offset-15 {
  margin-left: 62.5%;
}

.offset-16 {
  margin-left: 66.6667%;
}

.offset-17 {
  margin-left: 70.8333%;
}

.offset-18 {
  margin-left: 75%;
}

.offset-19 {
  margin-left: 79.1667%;
}

.offset-20 {
  margin-left: 83.3333%;
}

.offset-21 {
  margin-left: 87.5%;
}

.offset-22 {
  margin-left: 91.6667%;
}

.offset-23 {
  margin-left: 95.8333%;
}
