@import './theme.light.sass'
@import './theme.dark.sass'

@import "../fontawesome/fontawesome.scss"
@import "../fontawesome/solid.scss"
@import "../fontawesome/brands.scss"

$fa-font-path: '../webfonts'

\:root
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

html, body
  height: 100%
  padding: 0
  margin: 0
  color-scheme: var(--color-scheme)
  font-size: var(--font-size-main)
  font-family: var(--font-family)

ul, ol
  list-style: none
