@forward './color'

$padding-lg: 24px
$padding-md: 16px
$padding-sm: 12px
$padding-xs: 8px
$padding-xss: 4px

$margin-lg: 24px
$margin-md: 16px
$margin-sm: 12px
$margin-xs: 8px
$margin-xss: 4px

$radius-s: 4px
$radius-m: 8px
$radius-l: 12px

$height-base: 32px
$height-lg: 40px
$height-sm: 24px

$input-height-base: $height-base
$input-height-lg: $height-lg
$input-height-sm: $height-sm

$font-size-base: 14px
$font-size-sm: $font-size-base - 2px
$font-size-lg: $font-size-base + 2px

$text-h1: 6rem
$text-h2: 3.75rem
$text-h3: 3rem
$text-h4: 2.125rem
$text-h5: 1.5rem
$text-h6: 1.25rem

