@forward './color'
@forward './breakpoint'
@forward './animation'

$padding-xss: 4px
$padding-xs: 8px
$padding-sm: 12px
$padding-md: 16px
$padding-lg: 24px

$margin-xss: 4px
$margin-xs: 8px
$margin-sm: 12px
$margin-md: 16px
$margin-lg: 24px

$radius-s: 4px
$radius-m: 8px
$radius-l: 12px

$height-xs: 16px
$height-sm: 24px
$height-base: 32px
$height-lg: 40px
$height-xl: 48px
$height-xxl: 56px

$input-height-sm: $height-sm
$input-height-base: $height-base
$input-height-lg: $height-lg
$input-height-xl: $height-xl
$input-height-xxl: $height-xxl

$font-size-sm: 12px
$font-size-base: 14px
$font-size-lg: 16px
$font-size-xl: 18px
$font-size-xxl: 20px


$text-h1: 6rem
$text-h2: 3.75rem
$text-h3: 3rem
$text-h4: 2.125rem
$text-h5: 1.5rem
$text-h6: 1.25rem

