@use '@/styles/variable' as *;
@use '@/styles/elevation' as *;

.card {
  position: relative;

  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  padding: 12px;

  &-title {
    flex: none;
    padding: 6px 0;
    font-size: $text-h5;
  }

  &-subtitle {
    flex: none;
    margin-bottom: 6px;
    color: $grey-darken-1;
  }

  &-content {
    display: flex;
    flex: auto;
  }
}

.fill {
  width: 100%;
  height: 100%;
}
