@use '@/styles/variable' as *;
@use '@/styles/mixin.scss' as *;

.collapse {
  @include no-scrollbar;
  @include flex-column-auto-height;

  box-sizing: border-box;

  &-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &-header {
    padding: 6px 12px;
    background: var(--color-header);
    border-radius: 6px;

    &:active {
      background: var(--color-header-selected);
    }

    @media(hover: hover) and (pointer: fine) {
      &:hover {
        background: var(--color-header-selected);
      }
    }
  }

  &-panel {
    overflow: hidden;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows .25s ease;

    &-show {
      grid-template-rows: 1fr;
    }
  }

  &-content {
    align-self: end;
    min-height: 0;
    visibility: hidden;
    transition: visibility .1s ease;

    &-show {
      visibility: visible;
    }
  }
}

