@use '@/styles/variable' as *;
@use '@/styles/mixin.scss' as *;

.collapse {
  @include no-scrollbar;
  @include flex-column-auto-height;

  box-sizing: border-box;
  border: 1px solid var(--color-border);

  &-container {
    display: block;
  }

  &-header {
    padding: 6px 12px;
    border-bottom: 1px solid var(--color-border);

    &:active {
      background: var(--color-header);
    }

    @media(hover: hover) and (pointer: fine) {
      &:hover {
        background: var(--color-header);
      }
    }
  }

  &-panel {
    overflow: hidden;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows .25s ease;

    &-show {
      grid-template-rows: 1fr;
    }
  }

  &-content {
    align-self: end;

    min-height: 0;

    visibility: hidden;
    border-bottom: 1px solid var(--color-border);

    transition: visibility .1s ease;

    &-show {
      visibility: visible;
    }
  }
}

