@use '@/styles/variable' as *;
@use '@/styles/animation' as *;

.date-picker-button {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: .5rem 0.75rem;

  border: 1px solid var(--color-border);
  border-radius: $radius-s;
  box-shadow: none;

  transition: all .25s ease;

  &-error {
    border-color: $red !important;
    box-shadow: 0 0 3px $red !important;

    animation-name: shake;
    animation-duration: .1s;
    animation-timing-function: linear;
    animation-iteration-count: 3;
    animation-direction: normal;
  }

  &:active {
    border-color: $blue;
  }

  &-focus {
    border-color: $blue;
    box-shadow: 0 0 3px $blue;
  }

  &-base {
    height: $input-height-base;
    font-size: $font-size-base;
  }

  &-sm {
    height: $input-height-sm;
    font-size: $font-size-sm;
  }

  &-lg {
    height: $input-height-lg;
    font-size: $font-size-lg;
  }

  @media(hover: hover) and (pointer: fine) {
    &:hover {
      border-color: $blue;
    }
  }
}

.date-picker-button-inner {
  position: relative;

  display: inline-block;

  box-sizing: border-box;
  width: 100%;

  font-size: 0.925rem;
  color: var(--color-text);

  appearance: none;
  background: transparent;
  border: none;
  outline: none;

  &-placeholder {
    color: $grey;
  }

  &-focus {
    color: $grey-lighten-1;
  }

  &-prefix {
    min-width: 1.5rem;
    margin-right: 0.5rem;

    color: $grey-lighten-1;
    text-align: center;

    transition: color .35s ease;

    &-active {
      color: $blue;
    }
  }

  &-append {
    margin-left: 0.25rem;
    color: $grey-lighten-1;

    &-active {
      color: $blue;
    }

    &-focus {
      color: $grey-lighten-1;
    }
  }

  &-warning {
    overflow: hidden;

    height: 1.35rem;

    font-size: $font-size-sm;
    line-height: 1.35rem;
    color: $red;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.date-picker-tool-bar {
  display: flex;
  flex: none;
  justify-content: space-between;

  box-sizing: border-box;
  height: 15%;
  max-height: 40px;
  padding: 0 4px;

  border-bottom: 1px solid var(--color-border);

  &-date {
    align-items: center;
    line-height: 24px;
  }

  &-button {
    width: 24px;
    line-height: 24px;
    transition: color .3s ease;

    &:active {
      color: var(--color-primary);
    }

    @media(hover: hover) and (pointer: fine) {
      &:hover {
        color: var(--color-primary);
      }
    }
  }
}

.date-picker-calendar {
  position: absolute;
  z-index: 10;

  overflow: auto;
  display: flex;

  box-sizing: border-box;
  max-width: 0;
  max-height: 0;
  margin-top: 4px;

  font-size: 0.925rem;
  color: var(--color-text);

  background-color: var(--content-background-color);
  border-radius: 4px;
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);

  transition: max-height .3s ease;

  &-header {
    display: flex;
    flex: none;
    align-items: center;

    height: 12.5%;
    max-height: 40px;

    font-size: .85rem;
    color: $grey-darken-1;

    span {
      overflow: hidden;
      box-sizing: border-box;
      width: 14.2857%;
      text-overflow: ellipsis;
    }
  }

  &-inner {
    display: flex;
    flex-direction: column;

    height: calc(100% - 24px);
    padding: 12px;

    text-align: center;
  }

  &-cells {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
  }

  &-cell {
    position: relative;

    display: flex;
    flex: none;
    align-items: center;
    justify-content: space-evenly;

    box-sizing: border-box;
    width: calc(14.2857% - 2px);
    margin: 1px;

    font-size: 0.9rem;
    color: var(--color-text);

    border-radius: 4px;

    &-container {
      box-sizing: border-box;
      width: 24px;
      height: 24px;

      line-height: 24px;

      border-radius: 5px;

      &:active {
        background: var(--selected-background-color);
      }

      @media(hover: hover) and (pointer: fine) {
        &:hover {
          background: var(--selected-background-color);
        }
      }
    }

    &-selected {
      color: var(--color-white);
      background: $blue-darken-3;

      &:active {
        background: $blue-darken-3;
      }

      @media(hover: hover) and (pointer: fine) {
        &:hover {
          background: $blue-darken-3;
        }
      }
    }

    &-today {
      position: relative;
      border: 1px solid $blue;
    }

    &-append {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      font-size: 0.75rem;
    }

    &-disabled {
      color: var(--color-disabled);
    }
  }
}
