@use '@/styles/variable' as *;
@use '@/styles/mixin.scss' as *;

.table-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.table-title {
  padding: 6px
}

.header-container {
  display: block
}

.body-container {
  @include no-scrollbar;

  overflow: auto;
}

.table {
  overflow: auto;
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;

  th, td {
    box-sizing: border-box;
    text-align: center;
  }

  &-small {
    padding: 6px 12px;
  }

  &-medium {
    padding: 12px;
  }

  &-large {
    padding: 12px;
  }

  &-header {
    background-color: var(--color-header);

    th {
      font-weight: 450;
    }

    &-cell {
      position: relative;

      &:not(:first-child)::before {
        content: '';

        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);

        width: 1px;
        height: 1.6em;

        background-color: var(--color-border);

        transition: background-color 0.3s;
      }
    }
  }

  &-row {
    border-bottom: 1px solid var(--color-border);
  }

  &-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}


